:root {
  --bg-color: #f5f5f5;
  --text-color: #222;
  --accent-color: #00aaff;
  --border-color: #ddd;

  --cell-green: #38c172;
  --cell-red: #e3342f;
  --cell-orange: #f6993f;
  --cell-gray: #6c757d;

  --input-bg: #fff;
  --input-text: #222;
  --table-bg: #fff;
  --popup-bg: rgba(255, 255, 255);
  --box-shadow:rgba(0, 170, 255, 0.4);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}


.theme-switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  font-weight: 500;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  border-radius: 26px;
  transition: background-color 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.switch input:checked + .slider {
  background-color: var(--accent-color);
}

.switch input:checked + .slider:before {
  transform: translateX(24px);
}