/* ===== layout.css ===== */
.game-container {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--table-color);
  /*border: 1px solid var(--gray);*/
  border-radius: 16px;
  box-shadow: 0 0 12px var(--box-shadow);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

h1 {
  color: var(--accent);
  font-size: 2rem;
  text-align: center;
  margin:0;
  /*margin-bottom: 0.5rem;
  letter-spacing: 1px;*/
}

.subtitle {
  text-align: left;
  color: var(--accent);
  margin-bottom: 1.5rem;
}

.yesterday-info {
  /*text-align: center;
  margin-bottom: 1.5rem;
  color: var(--accent);*/
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.yesterday-img {
  height: 40px;
  margin-left: 8px;
  vertical-align: left;
  border-radius: 4px;
}
