.dark-theme {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --accent-color: #ffa54a;
  --border-color: #333;

  --cell-green: #4cd964;
  --cell-red: #ff4b4b;
  --cell-orange: #ff9500;
  --cell-gray: #a0a0a0;

  --input-bg: #1e1e1e;
  --input-text: #f5f5f5;
  --table-bg: #1b1b1b;
  --popup-bg: rgb(30, 30, 30);
  --box-shadow:rgba(255, 165, 74, 0.3);
}

.dark-theme body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark-theme .game-container {
  background-color: var(--table-bg);
  box-shadow: 0 0 20px var(--box-shadow);
}

.dark-theme table {
  border-color: var(--border-color);
}

.dark-theme th,
.dark-theme td {
  color: var(--text-color);
}

.dark-theme .win-popup {
  background-color: var(--popup-bg);
  color: var(--text-color);
}

.dark-theme .guess-input {
  background-color: var(--input-bg);
  color: var(--input-text);
  border: 1px solid var(--border-color);
}
